.btnForm{
    margin-top: 40px;
    padding: 10px;
    border-radius: 5%;
    background-color:crimson;
    color: white;
    box-shadow: 2px 1px 2px 1px black;
    font-weight: bold;
}

.pError{
    color: red;
    text-align: left;
    width:500px;
}