.text-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.text-link:hover{
    color: lightsteelblue;
}

.text-brand{
    color: black;
    text-decoration: none;
}

.text-brand:hover{
    color:black
}